/* All Common CSS File Start */
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
    /* overflow-x: hidden; */
}
ul,ol{
    list-style-type: none;
}
a,a:Hover{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    line-height: 0.8;
}
/* All Common CSS File End */

/* Header Part Start */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-link{
    padding: 0 30px !important;
    font-size: 18px;
    font-weight: 400;
    color: white;
    transition: .4s;
}
.nav-link:hover{
    color: #6A4DF4;
}
.contactBtn{
    color: white;
    padding: 15px 40px;
    background: #6A4DF4;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    transition: .4s;
}
.contactBtn:hover{
    color: #6A4DF4;
    background: rgb(239, 182, 172);
}
/* Header Part End */

/* Banner Part Start */
#bannerPart{
   
    background: url(../images/Banner\ 1.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bannerOverly{
    padding-top: 330px;
    padding-bottom: 175px;
    background: rgba(0, 0, 0, 0.621);
}
.bannerContent h1{
    font-size: 75px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 60px;
}
.bannerContent p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding: 0px 230px;
    margin-bottom: 45px;
}
.bannerContent a{
    color: #ffffff;
    padding: 20px 40px;
    background: #6A4DF4;
    border-radius: 10px;
    font-style: 20px;
    font-weight: 600;
}
/* Banner Part End */

/* Counter Part Start */
#counterPart{
    padding: 160px 0;
}
.extraCount{
    padding: 90px 0;
    background: #E0FFF9;
    border-radius: 20px;
}
.counterLeft{  
    padding-left: 45px;  
}
.counterLeft h4{    
    font-size: 23px;
    font-weight: 500;
    padding-bottom: 25px;
    transition: .4s;
}
.counterLeft h4:hover{
    color: #6A4DF4;
}
.counterLeft h3{    
    font-size: 35px;
    font-weight: 600;
    padding-right: 190px;
    line-height: 110%;
}
.counterText h3{
    font-size: 50px;
    font-weight: 700;
    color: #151515;
    padding-top: 25px;
    padding-bottom: 20px;
}
.counterText p{
    font-size: 20px;
    font-weight: 400;
    color: #737373;
}
/* Counter Part End */

/* Service Part Start */
#servicePart{
    padding-bottom: 150px;
}
 .serviceTop h3{
    font-size: 45px;
    font-weight: 700;
    color: #151515;
    padding-bottom: 30px;
 }
 .serviceTop p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 120%;
    padding-bottom: 100px;
 }
 .serviceItem{
    padding: 75px 55px 50px 55px;
    margin-top: 25px;
    transition: .4s;
 }
.serviceText h3{
    font-size: 25px;
    font-weight: 700;
    color: #151515;
    padding-top: 35px;
    padding-bottom: 20px;
}
.serviceText p{
    font-size: 15px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
}
.serviceItem:hover{
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
border-radius: 20px;
}
/* Service Part Start */

/* Work Part Start */
#workPart{
    background: #F3F3F3;
    padding-top: 175px;
    padding-bottom: 145px;
}
.workTop h3{
    font-size: 45px;
    font-weight: 700;
    color: #151515;
    padding-bottom: 30px;
}
.workTop p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 120%;
    padding-bottom: 100px;
}
.workItem{
    margin-top: 25px;
    background: #ffffff;
    border-radius: 20px;
}
.workImage img{
    width: 100%;
}
.workText h3{
    color: #151515;
    font-size: 20px;
    font-weight: 700;
    padding-top: 35px;
    padding-bottom: 20px;
}
.workText p{
    color: #737373;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 20px;
}
/* Work Part Start */

/* Agenc Part Start */
#agencPart{
    padding-top: 150px;
    padding-bottom: 120px;
}
.agenctop h3{
     font-size: 45px;
     font-weight: 700;
     color: #151515;
     padding: 0 250px;
     line-height: 120%;
     margin-bottom: 35px;
}
.agenctop p{
     font-size: 16px;
     font-weight: 400;
     color: #737373;
     line-height: 26px;
     padding: 0 30px;
     margin-bottom: 90px;
}
.agencItem{
    margin-top: 30px;
}
.agencItem h3{
    font-size: 25px;
    font-weight: 700;
    color: #151515;
    padding: 30px 0;
}
.agencItem p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    padding-right: 80px;
}
.agencImages img{
    padding-top: 30px;
}
/* Agenc Part Start */

/* Review Part Start */
#reviewPart{
    padding-bottom: 200px;
}
.reviewTop h3{
    font-size: 45px;
    font-weight: 700;
    color: #151515;
    padding-bottom: 35px;
}
.reviewTop p{
    font-size: 16px;
    font-weight: 400;
    color: #737373;
    line-height: 26px;
    padding-bottom: 130px;
}
.reviewItem{
    padding: 50px 50px;
    position: relative;
}
.reviewOverly{
    position: absolute;
    background: rgba(236, 219, 219, 0.5);
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
}
.reviewItem:hover .reviewOverly{
    opacity: 1;
    visibility: visible;
}
.reviewImageA img{
    padding-bottom: 30px;
}
.revewTextA h4{
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    line-height: 26px;
    margin-bottom: 30px;
}
.revewTextA img{
    color: #F9BD2C;
    padding-bottom: 35px;
}
.reviewFlex{
    display: flex;
}
.reviewTextB{
    padding-left: 20px;
}
.reviewTextB h3{
    font-size: 20px;
    font-weight: 600;
    color: #232323;
    padding-top: 5px;
    padding-bottom: 10px;
}
.reviewTextB p{
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
}
/* Review Part Start */

/* Form Part Start */
#formPart{
    padding: 160px 0;
    background: #F3F3F3;
}
.formItem h3{
    font-size: 45px;
    font-weight: 700;
    color: #151515;
    line-height: 120%;
    padding-right: 200px;
    padding-bottom: 35px;
}
.formItem p{
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    line-height: 26px;
    padding-right: 115px;
    padding-bottom: 20px;
}
.formItem h4{
    font-size: 16px;
    font-weight: 400;
    color: #7B7B7B;
    line-height: 26px;
    padding-right: 115px;
}
.contactForm{
    background: #FFFFFF;
    padding: 40px;
    border-radius: 20px;
}
.formItem{
    margin-top: 200px;
}
.contactForm h3{
    font-size: 30px;
    font-weight: 700;
    color: #151515;
    margin-top: 20px;
    padding-bottom: 35px;
    text-align: center;
}
.formBtn a{
    background: #6A4DF4;
    padding: 15px 145px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    margin-bottom: 50px;
}
/* Form Part End */

/* Footer Part Start */
#footerPart{
    padding-top: 150px;
    padding-bottom: 140px;
}
.footerLeft img{
    padding-bottom: 40px;
}
.footerLeft p{
    font-size: 16px;
    width: 400;
    color: #7B7B7B;
    line-height: 26px;
    padding-right: 65px;
}

.footerRight h3{
    font-size: 20px;
    font-weight: 600;
    color: #151515;
    padding-bottom: 60px;
}
.footerRight li{
    line-height: 3;
    width: 100%;
}
.footerRight ul li a{
    font-size: 16px;
    font-weight: 400;
   color: #7B7B7B;
}
.footerContent{
    display: flex;
    justify-content: end;
    
}
.footerText{
    padding-left: 35px;
}
.line{
    background: #E8E8E8;
    height: 2px;
    width: 1320px;
    margin-top: 60px;
}
.footerLtext{
    padding-top: 50px;
    text-align: center;
}
.footerLtext h5{
    font-size: 16px;
    font-weight: 400;
    color: #D0D0D0;
}
/* Footer Part Start */

/* header Part Start */
/* header Part Start */

/* header Part Start */
/* header Part Start */

/* header Part Start */
/* header Part Start */

/* header Part Start */
/* header Part Start */

